img.logo{
  content: var(--image);
}

.card{
  background: var(--base-snd);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.07);
  border-radius: 13px;
  h1{
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: var(--accent);
    margin-bottom: 24px;
  }
}
button.md-button{
  outline: none;
  padding: 0 24px;
  height: 36px;
  border: 1px solid var(--accent);
  color: var(--accent);
  box-sizing: border-box;
  text-transform: uppercase;
  transition: .3s;
  border-radius: 99px;
  &:hover{
    background-color: var(--accent);
    color: white;
  }
  &:active{
    background-color: var(--accent-light);
    color: white;
  }
}