.card{
  background: #FAFAFA;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.07);
  border-radius: 13px;
  h1{
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: #5BB1B0;
    margin-bottom: 24px;
  }
}
button.md-button{
  outline: none;
  padding: 0 24px;
  height: 36px;
  border: 1px solid #5BB1B0;
  color: #5BB1B0;
  box-sizing: border-box;
  text-transform: uppercase;
  transition: .3s;
  border-radius: 99px;
  &:hover{
    background-color: #5BB1B0;
    color: white;
  }
  &:active{
    background-color: #67CAC9;
    color: white;
  }
}